.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.navbar .active {
  background-color: #0285f1;
  border-radius: 8px;
}
.navbar a {
  margin-left: 15px;
}