.Login_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.login_form {
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 300px;
  padding: 20px;
  -webkit-box-shadow: 1px 4px 27px -3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 27px -3px rgba(34, 60, 80, 0.2);
}

.login_form > h1 {
  text-align: center;
  font-size: x-large;
  -webkit-background-clip: text;
  background-clip: text;
}

.login_form_inputs > p {
  margin-bottom: 3px;
}

.login_form_inputs > .inputs {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.buttons {
  margin-top: 30px;
}

.footer_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  margin-top: 20px;
}

.footer_login > p {
  margin: 2px;
}