.App {
  background-color: rgb(236, 236, 236);
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0px 2fr 0px 0.5fr;
  grid-template-columns: 0.4fr 2fr 0.5fr;
  -ms-grid-rows: 0.6fr 0px 10fr;
  grid-template-rows: 0.6fr 10fr;
  gap: 0px 0px;
      grid-template-areas: "navbar header header" "navbar main main";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: rgb(236, 236, 236);
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: navbar;
  background-color: rgb(5, 18, 39);
  color: white;
  padding-top: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main;
  border-bottom: 20px solid rgb(5, 18, 39);
}